
.shit {
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 20px;
    justify-content: center;
    
  }
  
  .row h2 {
    font-size: 28px;
    font-family: helvetica;
    text-align: center;
  }
  
  .card {
      padding-right: 20px;
  }